/* Funds */
.funds p {
  font-size: 0.8rem; 
  margin-top: 5px;
}

.funds-text {
  font-weight: 600;
  color: #474747; 
}

.funds-table{
  margin-top: -90px; 
}
 
.commodity {
  padding: 2% 8%;
}

 